{% load custom_student_tags %}

<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/light-glow/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Site.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/offcanvas.css">


<style type="text/css">
    .table{
        font-size: 14px;
    }

    #pup {
          position:absolute;
          z-index:200; /* aaaalways on top*/
          padding: 3px;
          margin-left: 10px;
          margin-top: 5px;
          width: 250px;
          border: 1px solid black;
          background-color: #777;
          color: white;
          font-size: 0.95em;
    }
</style>
</head>

<body>

    {% include 'header/navheader.html' %}


    <div id="wrapper" class="">

        <!-- Sidebar -->
        {% include 'stud_dashboard/wrapper.html' %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"><br><br>
                        <a href="#menu-toggle" class="btn btn-default btn-block btn-warning" id="menu-toggle"> Toggle Side Menu</a>


                        {% if errors %}

                            {% for e in errors %}

                                <div class="form-group errorlist alert alert-danger" role="alert">
                                        {{ e }}
                                </div>

                            {% endfor %}

                        {% else %}

                            {% for e in messages %}

                                <div class="form-group errorlist alert alert-success" role="alert">
                                        {{ e }}
                                </div>

                            {% endfor %}


                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">
                                        <h3>{{ project.title }}</h3>
                                        <h3 style="text-align: right">Status : {{ project.status|get_mapping_from_project_status }}</h3>
                                        <h4>Complete By : {{ project.due_on }}</h4>
                                        <h4>Budget ($) : {{ project.amount }}</h4>
                                                {% if project.deleted_on %}
                                                    <form action="/projects/{{ project.id }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="makelive">
                                                        <input type="submit" value="Make Live" class="btn btn-default btn-success" onclick="return confirm('Are you Sure you Want to Make the Project Live for biddding')">
                                                    </form>
                                                {% else %}
                                                     <form action="/projects/{{ project.id }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="delete">
                                                        <input type="submit" value="Delete Project" class="btn btn-default btn-danger" onclick="return confirm('Are you Sure you Want to delete This Project')">
                                                        <a href="/projects/{{ project.id }}/edit" class="btn btn-default btn-success">Click to edit</a>
                                                     </form>
                                                {% endif %}

                                    </div>
                                    <div class="panel-body">
                                        <p>{{ project.description }}</p>
                                    </div>

                                    <!-- Table -->
                                    <div class="table-responsive">
                                        <table class="table">
                                        <col width="50%">
                                        <col width="50%">

                                     <tr>
                                         <td>User </td>
                                         <td>{{ bids.user.username }}</td>
                                     </tr>

                                     <tr>
                                         <td>Ratings </td>
                                         <td> *****</td>
                                     </tr>
                                     <tr>
                                         <td>Amount ($)</td>
                                         <td>
                                             <form action="/projects/{{ project.id }}/bid/{{ bids.id }}" method="POST">
                                                 {% csrf_token %}
                                                 {% if project.assigned_to %}
                                                        <button class="btn btn-default btn-success">Assigned to {{ project.assigned_to.username }}</button>
                                                 {% else %}
                                                    <input type="submit" value="Confirm for  ${{ bids.amount }}" class="btn btn-default btn-success" onclick="return confirm('Select This Bid for ${{ bids.amount }}')"/>
                                                 {% endif %}
                                             </form>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Deliver By </td>
                                         <td>{{ bids.deliever_by }}</td>
                                     </tr>
                                     <tr>
                                         <td>Status </td>
                                         <td>{{ bids.status|get_mapping_from_bids_status }}</td>
                                     </tr>
                                     <tr>
                                         <td>Scholar Says : </td>
                                         <td>{% if bids.description %} {{ bids.description }} {% else %} SCHOLAR HAS NOTHING TO SAY {% endif %}</td>
                                     </tr>
                                {% if project.assigned_to %}
                                    <tr>
                                        <td> Project Assigned On</td>
                                        <td> project.assigned_on</td>
                                    </tr>
                                {% endif %}
                                    </table>
                                      </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.2.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/nhpup_1.1.js"></script>



    <!-- Menu Toggle Script -->
    <script>
        var v={};
        v["Explore Options"]="Hide Options";
        v["Hide Options"]="Explore Options";
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle").html(v[$("#menu-toggle").html()])
    });
    </script>




</body></html>